<nav class="nav">
  <div class="container">
   
        <div class="boxOne">
          <li>
            <a type="button" class="btn btn-warning" href="/report">Reportes</a>
          </li>
          <li>
            <a type="button" class="btn btn-warning" href="/hello">Ventas digitales</a>
          </li>
          <li>
            <a type="button" class="btn btn-warning" href="/barcode">Cobro con barras</a>
          </li>
        </div>
        
        <div class="boxTwo">
          <li class="nav-item">
            <a type="button" class="btn btn-danger" href="/logout"> Cerrar Sesión</a>
          </li>
        </div>

  </div>
</nav>
